<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{greeting}} {{name}}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      * { box-sizing: border-box; } body { margin: 0; padding: 0; background:
      #32363a; color: #fff; font-family: "Quicksand", Helvetica, sans-serif;
      font-size: 18px; } main { display: grid; grid-template-columns: 1fr;
      grid-template-rows: 100vh; align-items: center; justify-items: center; /*
      adjusted */ } section { width: 95%; max-width: 600px; justify-self:
      center; align-self: center; text-align: center; } h1 { font-size: 4rem;
      font-weight: 700; margin-bottom: 0.25em; } h1 span { color:
      {{color}}; } footer { margin-top: 4em; } footer p { margin: 0.5em 0;
      font-size: 0.8rem; color: #5c7b88; } footer a { color: #5c7b88; }
    </style>
  </head>
  <body>
    <main>
      <section>
        <h1>{{greeting}} <span>{{name}}</span></h1>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="96"
          height="96"
          viewBox="0 0 24 24"
          fill="{{iconColor}}"
        ><path
            d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm5.508 13.941c-1.513 1.195-3.174 1.931-5.507 1.931-2.335 0-3.996-.736-5.509-1.931l-.492.493c1.127 1.72 3.2 3.566 6.001 3.566 2.8 0 4.872-1.846 5.999-3.566l-.492-.493zm-9.008-5.941c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5-.672-1.5-1.5-1.5zm9.5 2.002l-.755.506s-.503-.948-1.746-.948c-1.207 0-1.745.948-1.745.948l-.754-.506c.281-.748 1.205-2.002 2.499-2.002 1.295 0 2.218 1.254 2.501 2.002z"
          ></path></svg>
        <p>Version {{version}}</p>
        <footer>
          <p>Made with &hearts; by Vivi</p>
          <p>
            <a href="https://github.com/vivitian930/graceful-shutdown-app">View
              Source on GitHub</a>
          </p>
        </footer>
      </section>
    </main>
  </body>
</html>